# PostgreSQL (INSTALL DI LOCAL OS)
DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=your database name
DB_USERNAME=your database username
DB_PASSWORD=your database password

# Kafka (DOCKER)
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_CONSUMER_GROUP=wallet-group
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
KAFKA_DEFAULT_PARTITIONS=1
KAFKA_DEFAULT_REPLICATION=1

# Eureka & Ports
SERVER_PORT_EUREKA=8761
SERVER_PORT_GATEWAY=8080
EUREKA_SERVICE_URL=http://eureka:8761/eureka

# SMTP
SMTP_USERNAME=your gmail smtp email
SMTP_PASSWORD=your gmail smtp password